body {
  background-color: black;
}

p {
  
  color: white;
  font-family:Arial;
  font-weight:bold;
  text-indent: 13px;
}

h1 {
  color: navy;
  margin-left: 20px;
}


h2 {
  font-family:Arial;
  color: red;
}

table, th, td {
  color: white;
  text-align: center;
  font-family:Arial;
  font-weight:bold;
  text-indent: 13px;
  border: 1px white;
}

ul.menu{
	
	background-color: black;
	
	
}

#lista1 {
	list-style-type: square;
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
#lista2 {
	list-style-type: square;
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
#lista3 {
	list-style-type: square;
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
.separador {
    color:gray;
}
#lista1 li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
    background-color:black;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    color:black;
    background-color:lightgray;
}

.banner{
	
	width: 720px; 
	height: 127px;

	
}

.qsomos{
	width: 295px; 
	height: 220px;
}
