body {
  background-color: black;
}

h1 {
  color: navy;
  margin-left: 20px;
}


h2 {
  color: red;
}


ul.menu{
	
	background-color: black;
	
	
}

#lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
.separador {
    color:gray;
}
#lista1 li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
    background-color:black;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    color:black;
    background-color:lightgray;
}

.banner{
	
	width: 720px; 
	height: 127px;

	
}

.qsomos{
	width: 295px; 
	height: 220px;
}
